@import 'common';

.article-title {
    padding: 5rem 2rem 1rem;
    text-align: center;
}
.article-time {
    font-size: 1rem;
    color: #9e9e9e;
    text-align: center;
    padding: 1rem 0 1rem;
    &::before {
        content: '';
        background: url(/assets/img/time.png) no-repeat;
        background-size: contain;
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: -3px;
        margin-right: .5rem;
        display: inline-block;
    }
}
.article-body {
    padding: 0 7rem 5rem;
    text-align: center;
    img {
        max-height: 30rem;
        max-width: 100%;
        margin-bottom: 1.2rem;
    }
    p {
        text-align: left;
    }
}


@media(min-width: 960px) {
    .article-body {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 5rem;
    }
}

@media(min-width: 540px) {
    .article-body {
        padding: 0 3rem 5rem;
    }
}

@media(max-width: 540px) {
    .article-title {
        padding: 2rem 2rem 0;
    }
    .article-body {
        padding: 0 1rem 4rem;
    }
}