html {
    font-size: 14px;
}

@media(min-width: 960px) {
    html {
        font-size: 14px;
    }
    .circle-list .circle {
        font-size: 1.6rem!important;
    }
}

@media(min-width: 540px) {
    html {
        font-size: 12px;
    }
    .circle-list .circle {
        font-size: 1.3rem;
    }
}

@media(max-width: 540px) {
    html {
        font-size: 10px;
    }
    .logo {
        height: 3rem;
    }
    .circle-list .circle {
        width: 48%;
        margin: 1%;
    }
}

body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
    color: black;
}

.geling-nav {
    background: rgba(0, 0, 0, .4);
}

.nav-link {
    font-size: 1.3rem;
    color: black;
    margin: 0 2rem 0 0;
}

.lang-item {
    padding: 0.5rem 1rem;
    font-size: 0;
    a {
        color: black;
        text-decoration: none
    }
    .nav-lang {
        font-size: 1.3rem;
        padding: 0;
    }
    .langCN {
        display: inline-block;
        a {
            color: white;
            border: solid black;
            background: black;
        }
    }
    .langEN {
        display: inline-block;
        a {
            color: black;
            border: solid;
        }
    }
}

.navbar-nav {
    background-color: #f8b62b;
    // padding: 1rem 2rem 1rem 3rem;
}

.navbar-brand {
    width: 0;
    flex: 1
}

.navbar-collapse {
    background-color: #f8b62b;
    flex-grow: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link:hover {
            color: white;
        }
    }
}

@media(max-width: 816px) {
    .nav-link {
        font-size: 1.1rem;
    }
    .nav-lang {
        font-size: 1.1rem;
    }
}

.pageNav-bg {
    height: 50rem;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

.pageNavContent {
    height: 50rem;
    overflow: hidden;
}

#pageNavbg {
    background-image: url("../img/nav1.png");
}

.title-text {
    margin-top: 150px;
    color: #fff;
    div {
        h1 {
            font-size: 2.8rem;
            font-weight: bold;
        }
        p {
            font-size: 1.2rem;
            padding: 2rem 0 1rem 0;
        }
    }
}

.circle-list {
    font-size: 0;
    width: 100%;
}
.circle-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.circle {
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    font-size: 2rem;
    border-radius: 50%;
    display: inline-block;
    width: 23.5%;
    margin: 0 1%;
    position: relative;
    img {
        width: 100%;
        display: block;
    }
}

.circleYellow {
    background-color: #f8c454;
    color: #333;
}

.circleGray {
    background-color: #585858;
    color: #fff;
}


.pageTop {
    margin-top: 3rem;
}

.pageTopText {
    h1 {
        font-size: 2.8rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 0 auto;
    }
    p {
        font-size: 1.5rem;
        color: #8a8d90;
        text-align: justify;
    }
}

.schedule-list {
    margin-left: 4.16%;
}
.pageSchedule {
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    h1 {
        font-size: 2.8rem;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    .container {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.pageScheduleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 1.4rem;
    }
    .pageScheduleP {
        color: #6a6a6a;
    }
}

@media (max-width: 960px) {
    .pageScheduleText {
        p {
            font-size: 1rem;
        }
    }
}

.schedulePic {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.9rem;
    img {
        width: auto;
        height: 100%;
    }
}

.triangle {
    line-height: 10rem;
}

.pageScheduleCompetition {
    float: left;
    padding: 100px 10px 2px 10px;
    position: relative;
    overflow: hidden;
    a {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
        position: relative;
    }
}

.pageScheduleImg {
    height: 100%;
    width: 100%;
}

.picText {
    background: #333;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    color: white;
    p {
        font-size: 2rem;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:330px) {
    .picText {
        p {
            font-size: 1.8rem;
        }
    }
}

.picTextSelect {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        font-size: 1.5rem;
        color: white;
    }
}

.picTextSelect:hover {
    background: #eeb60c;
    opacity: 0.7;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.pageDownload {
    padding-top: 4rem;
    background-position: center center;
    background-size: cover;
    h1 {
        padding-bottom: 4rem;
    }
}

#pageDownloadbg {
    background-image: url("../img/bg.png");
}

.pageDownloadItem {
    font-size: 1.4rem;
    border: 1px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.pageDownloadItem2 {
    border: 2px;
    border-style: solid;
    border-color: #f8b62b;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pageDownloadItem2 {
    div {
        img {
            width: 100%;
        }
    }
}

.pageDownloadPicText {
    display: flex;
    align-items: center;
    .container {
        margin-top: 25px;
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.pageDownloadBtn {
    width: 100%;
    margin: 0 0 1rem 0px;
    color: white;
}

.pageDownloadBtn:hover {
    color: black;
}

@media(min-width: 960px) {
    .pageDownloadPicText {
        width: 90%;
    }
    .pageDownloadBtn {
        width: 80%;
    }
    .pageDownloadPicText2 {
        width: 80%;
    }
}


.pageDownloadPicText2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p {
        margin: 0 auto;
    }
}

@media (min-width: 540px) {
    .pageDownloadPic {
        display: none;
    }
}

@media (max-width: 540px) {
    .pageDownloadPic {
        display: none;
    }
}

.pageInformation {
    h1 {
        padding: 3rem 0 2rem 0;
    }
    .container {
        margin-top: 0.8rem;
    }
    a {
        margin-top: 2rem;
        background: #f7f7f7;
        color: #ababab;
    }
}

.pageInformationItem {
    div {
        img {
            width: 100%;
        }
        p {
            margin: 0.9rem 0 0.8rem 0;
            color: #8a8d90
        }
    }
}

.pagePartner {
    padding-bottom: 2rem;
    h1 {
        padding: 3rem 0 0 0;
    }
    .container {
        padding-top: 20px;
    }
}

.pagePartnerPic {
    border: 2px;
    border-style: solid;
    border-color: #e5e5e5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.pagefooter {
    background-color: #151a21;
    height: 4rem;
    height: 100%;
    p {
        color: #8a8d90;
        text-align: center;
        line-height: 2rem;
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}