html {
    font-size: 14px;
}

@import 'common.scss';
@media(min-width: 960px) {
    .circle-list .circle {
        font-size: 1.6rem!important;
    }
}

@media(min-width: 540px) {
    .circle-list .circle {
        font-size: 1.3rem;
    }
}

@media(max-width: 540px) {
    .logo {
        height: 3rem;
    }
    .btn-light {
        width: 7rem;
        margin: 0 auto;
        display: block;
    }
    .circle-list .circle {
        width: 48%;
        margin: 1%;
    }
    .picContent .pagePartnerPic {
        width: 40%!important;
    }
    .pageDownloadPicText {
        .container {
            margin-top: 1rem!important;
        }
        .download {
            img {
                display: none!important;
            }
        }
        .downloadText {
            display: none!important;
        }
    }
    .pageDownloadItem2 {
        padding: 0 1rem;
    }
    .pageDownloadList {
        .pageDownloadPicText2 {
            margin-top: 1rem;
            .downloadText {
                display: none;
            }
        }
        .pageDownloadItem2 img {
            padding-top: 0;
            width: 100%!important;
        }
    }
    .competitionList .pageScheduleCompetition {
        padding: 60px 5px 0;
    }
}

@media(max-width: 960px) {
    .pageDownloadPicText2 {
        .downloadText {
            display: none!important;
        }
    }
    .pageDownloadPicText {
        .container {
            margin-top: 1rem!important;
        }
        .download {
            img {
                display: none!important;
            }
        }
        .downloadText {
            display: none!important;
        }
    }
}

body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
    color: black;
}

.pageNav {
    .pageNav-bg {
        height: 50rem;
        width: 100%;
        position: absolute;
        background-position: center center;
        background-size: cover;
    }
    #pageNavbg {
        background-image: url("../img/nav1.png");
    }
    .pageNavContent {
        height: 50rem;
        overflow: hidden;
    }
}

.title-text {
    margin-top: 150px;
    color: #fff;
    div {
        h1 {
            font-size: 2.8rem;
            font-weight: bold;
        }
        p {
            font-size: 1.2rem;
            padding: 2rem 0 1rem 0;
        }
    }
}

.circle-list {
    font-size: 0;
    width: 100%;
}

.circle-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.circle {
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    font-size: 2rem;
    border-radius: 50%;
    display: inline-block;
    width: 23.5%;
    margin: 0 1%;
    position: relative;
    img {
        width: 100%;
        display: block;
    }
}

.circleYellow {
    background-color: #f8c454;
    color: #333;
}

.circleGray {
    background-color: #585858;
    color: #fff;
}

.pageTop {
    padding: 3rem 0;
    background-color: #fafafa;
}

.pageTopText {
    padding-top: 30px;
    h1 {
        font-size: 2.8rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 0 auto;
    }
    p {
        font-size: 1rem;
        padding: 1rem 0;
        color: #6a6a6a;
        text-align: justify;
    }
}

.pageSchedule {
    padding-top: 3rem;
    padding-bottom: 2rem;
    h1 {
        font-size: 2.8rem;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    .schedule-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .triangle {
            width: 1.6%;
            line-height: 10rem;
        }
        .pageScheduleText {
            width: 23.8%;
            display: flex;
            /* Safari */
            flex: auto;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 1.4rem;
                white-space: nowrap;
            }
            .pageScheduleP {
                color: #6a6a6a;
            }
        }
    }
}

@media (max-width: 992px) {
    .pageScheduleText {
        p {
            font-size: 1rem!important;
        }
    }
}

@media (max-width: 784px) {}

@media (max-width: 768px) {
    .triangle {
        width: 3.5%!important;
    }
    .pageScheduleText {
        width: 46.5%!important;
    }
    .pageScheduleTex3 {
        margin-left: -3.5%!important;
    }
    .title-text2 {
        max-width: 100%;
        margin-left: 0;
        .btn-pageNav {
            .btn-light {
                display: block;
                width: 7rem;
                margin: 0 auto;
            }
        }
    }
}

.competitionList {
    margin: 0!important;
}

.schedulePic {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.9rem;
    img {
        width: auto;
        height: 100%;
    }
}

.pageScheduleCompetition {
    padding: 100px 15px 0;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
    position: relative;
    overflow: hidden;
    a {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
        position: relative;
    }
}

.pageScheduleImg {
    //height: 100%;    
    width: 100%;
}

.picText {
    background: #333;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .7;
    color: white;
    p {
        font-size: 2rem;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:330px) {
    .picText {
        p {
            font-size: 1.8rem;
        }
    }
}

.picTextSelect {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        font-size: 1.5rem;
        color: white;
    }
}

.picTextSelect:hover {
    background: #eeb60c;
    opacity: 0.7;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.pageDownload {
    padding: 4rem 0 4rem 0;
    background-position: center center;
    background-size: cover;
    h1 {
        margin-bottom: 4rem;
    }
}

#pageDownloadbg {
    background-image: url("../img/bg.png");
}

.pageDownloadPicText2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p {
        font-size: 1.5rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    img {
        padding: 1rem;
    }
}

.pageDownloadPicText {
    display: flex;
    align-items: center;
    .container {
        margin-top: 25px;
        .download {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .downloadText {
            font-size: 1.5rem;
            height: 3.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.btn-info {
    background-color: #29d6e5;
    border: #29d6e5;
}

.btn-success {
    background-color: #5fcc5f;
    border: #5fcc5f;
}

.pageDownloadBtn {
    width: 100%;
    margin: 0 0 1rem 0px;
    color: white;
}

.pageDownloadBtn:hover {
    color: black;
}

.pageDownloadList {
    margin: 0!important;
    .pageDownloadItem {
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
        font-size: 1.4rem;
        border: 1px;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        padding:0 1rem;
    }
    .pageDownloadItem2 {
        border: 2px;
        border-style: solid;
        border-color: #f8b62b;
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: 50%;
            margin: auto;
        }
    }
}

@media(min-width: 960px) {
    .pageDownloadPicText {
        width: 90%;
    }
    .pageDownloadBtn {
        width: 80%;
    }
    .pageDownloadPicText2 {
        width: 80%;
    }
}

@media (min-width: 540px) {
    .pageDownloadPic {
        display: none;
    }
}

@media (min-width: 992px) {
    .pageDownloadPic {
        display: flex;
    }
}

@media (max-width: 540px) {
    .pageDownloadPic {
        display: none;
    }
    .pageDownloadItem.col-4 {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 350px) {
    .circle-text {
        p {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 340px) {
    .pageDownloadList .pageDownloadItem {
        font-size: 0.8rem;
        padding: 0 0.8rem;
    }
    .pageDownloadItem.col-4 {
        padding: 0 0.3rem;
    }
}

.pageInformation {
    margin-bottom: 3rem;
    h1 {
        padding: 3rem 0 2rem 0;
    }
    .container {
        margin-top: 0.8rem;
        #articleList .cInfo {
            padding: 5px 0;
            margin: 0;
        }
    }
    a {
        margin-top: 2rem;
        background: #f7f7f7;
        color: #ababab;
    }
    .more {
        border-color: #ababab;
        background-color: #f7f7f7;
        padding: 10px 70px;
        line-height: 30px;
        &:hover {
            color: #999;
        }
    }
}

a:link,
a:hover {
    text-decoration: none;
}

.pageInformationItem {
    max-height: 200px;
    margin-bottom: 50px;
    .cover {
        overflow: hidden;
        height: 185px;
    }
    .title {
        line-height: 2rem;
        height: 4rem;
        overflow: hidden;
        color: #353535;
    }
    .content {
        line-height: 1.8rem;
        margin-bottom: 3rem;
        height: 3.6rem;
        color: #797979;
        overflow: hidden;
    }
    div {
        img {
            height: 100%;
        }
        p {
            margin: 0.9rem 0 0.8rem 0;
            color: #8a8d90
        }
    }
}

.partner {
    background-color: #fafafa;
}

.pagePartner {
    padding-bottom: 2rem;
    .logo-list {
        justify-content: center;
    }
    h1 {
        padding: 3rem 0 2rem 0;
    }
    .container {
        padding-top: 20px;
    }
}

.picContent {
    .pagePartnerPic {
        width: 24.5%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
        img {
            width: 100%;
            max-width: 232px;
            margin: 0 auto;
        }
    }
}

.pagefooter {
    background-color: #151a21;
    height: 4rem;
    height: 100%;
    p {
        color: #8a8d90;
        text-align: center;
        line-height: 2rem;
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}