html {
    font-size: 14px;
}

@media(min-width: 960px) {
    html {
        font-size: 14px;
    }
}

@media(min-width: 540px) {
    html {
        font-size: 12px;
    }
}

@media(max-width: 540px) {
    html {
        font-size: 10px;
    }
    .logo {
        height: 3rem;
    }
}

body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
    color: black;
}

.geling-nav {
    background: rgba(0, 0, 0, .4);
}

.nav-link {
    font-size: 1.3rem;
    color: black;
    margin: 0 2rem 0 0;
}

.lang-item {
    padding: 0.5rem 1rem;
    a {
        color: black;
        text-decoration: none
    }
    .nav-lang {
        font-size: 1.3rem;
        padding: 0;
    }
    .langCN {
        display: inline-block;
        a {
            color: white;
            border: solid black;
            background: black;
        }
    }
    .langEN {
        display: inline-block;
        a {
            color: black;
            border: solid;
        }
    }
}

.navbar-nav {
    background-color: #f8b62b;
    // padding: 1rem 2rem 1rem 3rem;
}

.navbar-brand {
    width: 0;
    flex: 1
}

.navbar-collapse {
    background-color: #f8b62b;
    flex-grow: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link:hover {
            color: white;
        }
    }
}

@media(max-width: 816px) {
    .nav-link {
        font-size: 1.1rem;
    }
    .nav-lang {
        font-size: 1.1rem;
    }
}

.pageNav-bg {
    height: 50rem;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

.pageNavContent {
    height: 50rem;
    overflow: hidden;
}

#pageNavbg {
    background-image: url("../img/nav1.png");
}

.title-text {
    margin-top: 150px;
    color: #fff;
    div {
        h1 {
            font-size: 2.8rem;
            font-weight: bold;
        }
        p {
            font-size: 1.2rem;
            padding: 2rem 0 1rem 0;
        }
    }
}

.circle {
    margin: 1rem auto;
}

.circleYellow {
    height: 20rem;
    width: 20rem;
    background-color: #f8c454;
    font-size: 2rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circleGray {
    height: 20rem;
    width: 20rem;
    background-color: #585858;
    border-radius: 10rem;
    font-size: 2rem;
    color: white;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1122px) {
    .circleGray,
    .circleYellow {
        height: 18rem;
        width: 18rem;
        font-size: 1.5rem;
        border-radius: 9rem;
    }
}

@media (max-width: 991px) {
    .circleGray,
    .circleYellow {
        height: 15rem;
        width: 15rem;
        font-size: 1.3rem;
        border-radius: 7.5rem;
    }
}

@media (max-width: 900px) {
    .circleGray,
    .circleYellow {
        height: 14rem;
        width: 14rem;
        font-size: 1.3rem;
        border-radius: 7rem;
    }
}

@media (max-width: 800px) {
    .circleGray,
    .circleYellow {
        height: 13rem;
        width: 13rem;
        font-size: 1.3rem;
        border-radius: 6.5rem;
    }
}

@media (max-width: 768px) {
    .circleGray,
    .circleYellow {
        height: 11rem;
        width: 11rem;
        font-size: 1.2rem;
        border-radius: 5.5rem;
    }
}

@media (max-width: 582px) {
    .circleGray,
    .circleYellow {
        height: 9rem;
        width: 9rem;
        font-size: 1.2rem;
        border-radius: 4.5rem;
    }
}

@media (max-width: 540px) {
    .circleGray,
    .circleYellow {
        height: 8rem;
        width: 8rem;
        font-size: 1.2rem;
        border-radius: 4rem;
    }
}

@media (max-width: 460px) {
    .circleGray,
    .circleYellow {
        height: 7rem;
        width: 7rem;
        font-size: 1.2rem;
        border-radius: 3.5rem;
    }
}

@media (max-width: 420px) {
    .circleGray,
    .circleYellow {
        height: 6rem;
        width: 6rem;
        font-size: 1.1rem;
        border-radius: 3rem;
    }
}

@media (max-width: 400px) {
    .circleGray,
    .circleYellow {
        height: 5.8rem;
        width: 5.8rem;
        font-size: 1.1rem;
        border-radius: 2.9rem;
    }
    .circle p {
        transform: scale(0.8);
    }
}

@media (max-width: 354px) {
    .circleGray,
    .circleYellow {
        padding-top: 1rem;
        height: 5rem;
        width: 5rem;
        font-size: 1.1rem;
        border-radius: 2.5rem;
    }
    .circle p {
        transform: scale(0.8);
    }
}

.pageTop {
    margin-top: 3rem;
}

.pageTopText {
    h1 {
        font-size: 2.8rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 0 auto;
    }
    p {
        font-size: 1.5rem;
        color: #8a8d90;
        text-align: justify;
    }
}

.pageSchedule {
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    h1 {
        font-size: 2.8rem;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    .container {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.pageScheduleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 1.4rem;
    }
    .pageScheduleP {
        color: #6a6a6a;
    }
}

@media (max-width: 960px) {
    .pageScheduleText {
        p {
            font-size: 1rem;
        }
    }
}

.schedulePic {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.9rem;
    img {
        width: auto;
        height: 100%;
    }
}

.triangle {
    line-height: 10rem;
}

.pageScheduleCompetition {
    float: left;
    padding: 100px 10px 2px 10px;
    position: relative;
    overflow: hidden;
    a {
        width: 100%;
        height: 100%;
        float: left;
        text-align: center;
        position: relative;
    }
}

.pageScheduleImg {
    height: 100%;
    width: 100%;
}

.picText {
    background: #333;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    color: white;
    p {
        font-size: 2rem;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:330px) {
    .picText {
        p {
            font-size: 1.8rem;
        }
    }
}

.picTextSelect {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        font-size: 1.5rem;
        color: white;
    }
}

.picTextSelect:hover {
    background: #eeb60c;
    opacity: 0.7;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.pageDownload {
    padding-top: 4rem;
    background-position: center center;
    background-size: cover;
    h1 {
        padding-bottom: 4rem;
    }
}

#pageDownloadbg {
    background-image: url("../img/bg.png");
}

.pageDownloadItem {
    font-size: 1.4rem;
    border: 1px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.pageDownloadItem2 {
    border: 2px;
    border-style: solid;
    border-color: #f8b62b;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pageDownloadItem2 {
    div {
        img {
            width: 100%;
        }
    }
}

.pageDownloadPicText {
    display: flex;
    align-items: center;
    .container {
        margin-top: 25px;
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.pageDownloadBtn {
    width: 100%;
    margin: 0 0 1rem 0px;
    color: white;
}

.pageDownloadBtn:hover {
    color: black;
}

@media(min-width: 960px) {
    .pageDownloadPicText {
        width: 90%;
    }
    .pageDownloadBtn {
        width: 80%;
    }
    .pageDownloadPicText2 {
        width: 80%;
    }
}

@media(max-width:350px) {
    .pageDownloadBtn {
        transform: scale(0.85);
    }
}

.pageDownloadPicText2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p {
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .pageDownloadPic {
        display: none;
    }
}

.pageInformation {
    h1 {
        padding: 3rem 0 2rem 0;
    }
    .container {
        margin-top: 0.8rem;
    }
    a {
        margin-top: 2rem;
        background: #f7f7f7;
        color: #ababab;
    }
}

.pageInformationItem {
    div {
        img {
            width: 100%;
        }
        p {
            margin: 0.9rem 0 0.8rem 0;
            color: #8a8d90
        }
    }
}

.pagePartner {
    padding-bottom: 2rem;
    h1 {
        padding: 3rem 0 0 0;
    }
    .container {
        padding-top: 20px;
    }
}

.pagePartnerPic {
    border: 2px;
    border-style: solid;
    border-color: #e5e5e5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.pagefooter {
    background-color: #151a21;
    height: 4rem;
    height: 100%;
    p {
        color: #8a8d90;
        text-align: center;
        line-height: 2rem;
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}