@import 'common';
.pageNav {
    width: 1200px;
}
.pagefooter {
    width: 1200px;
}
.content {
    width: 1200px;
    overflow: hidden;
}
.slide {
    margin-top: 50px;
    padding: 0 10px;
    .circle {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #d1d1d1;
        background-color: #fff;
    }
    .header {
        .circle, .title {
            vertical-align: middle;
        }
        .title {
            margin-left: 20px;
            color: #c47236;
            font-size: 2.5rem;
        }
    }
    .content {
        .sub-title {
            margin: 20px 0;
        }
        margin-top: 100px;
        color: #836854;
        font-size: 16px;
    }
    .content1 {
        margin-bottom: -100px;
        p {
            position: absolute;
            text-align: center;
        }
        .step1 {
            left: 229px;
            top: 314px;
            color: #6b471b;
        }
        .step2 {
            left: 400px;
            top: 314px;
            color: #6b471b;
        }
        .step3 {
            left: 540px;
            top: 304px;
            font-size: 27px;
        }
        .step4 {
            left: 820px;
            top: 304px;
            font-size: 27px;
        }
        .content11 {
            top: 368px;
            left: 175px;
            width: 190px;
        }
        .content12 {
            top: 245px;
            left: 321px;
            width: 200px;
        }
        .content13 {
            top: 368px;
            left: 475px;
            width: 200px;
        }
        .content14 {
            top: 168px;
            left: 902px;
            width: 215px;
        }
        .content15 {
            top: 368px;
            left: 975px;
            width: 200px;
        }
    }
    .content5 {
        padding: 20px;
        background-color: #e5e5e5;
        margin-top: 50px;
        .item {
            padding: 0 30px;
        }
        .title1 {
            height: 70px;
            display: block;
            margin: 0 auto;
            text-align: center;
            img {
            }
        }
    }
    .content2 {
        margin-top: 50px;
        font-size: 16px;
        color: #404040;
        text-align: center;
        .name {
            margin: 10px 0;
        }
        p {
            text-align: left;
            font-size: 1rem;
        }
        img {
            height: 184px;
        }
        .consult {
            height: 100%;
            padding: 0 20px;
        }
        .consult1 {
            background-color: #dfc081;
            color: #a67332;
        }
        .consult2 {
            background-color: #e4b166;
            color: #a06a29;
        }
        .consult3 {
            background-color: #ce8d3e;
            color: #ebd1b2;
        }
        .consult4 {
            background-color: #a06a29;
            color: #dfc081;
        }
    }
    .content3 {
        margin-top: 50px;
        color: #404040;
        .item {
            margin-top: 30px;
            padding-left: 50px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 50%;
                background-color: #ec7016;
                float: left;
                vertical-align: top;
            }
        }
    }
    .title2 {
        background-color: #f8b62b;
        margin-top: 94px;
        height: 130px;
        text-align: center;
        line-height: 130px;
        font-size: 30px;
        color: #222;
    }
}
.slide {
    .image {
        width: 100%;
    }
    .center {
        text-align: center;
    }
    .content4 {
        margin-top: 90px;
        text-align: center;
        .sub-title4 {
            color: #ec7016;
            font-size: 18px;
            margin: 10px 0;
        }
        .sub-content4 {
            text-align: left;
        }
        img {
            width: 176px;
            height: 176px;
            margin-bottom: 30px;
        }
    }
}

.slide4 {
    margin-bottom: 100px;
}