@import 'common';

@media(max-width: 540px) {
    .pageList .pageListItem .row div img{
       margin: 0;
    }
}



@media(max-width: 540px) {
    body .pageList {
        .pageListItem {
            .row {
                .title {
                    font-size: 1.4rem;
                }
                p {
                    height: 2rem;

                }
            }
        }
    }
}

.pageList {
    text-align: center;
    margin-top: 2rem;
    .pageListItem {
        margin-top: 1rem;
        .row {
            .title {
                font-size: 2rem;
                line-height: 1.14;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #353535;
            }
            p {
                color: #797979;
                font-size: 1.1rem;
                line-height: 1.8;
                height: 8.6rem;
                margin-top: 1rem;
                margin-bottom: 0;
                overflow: hidden;
            }
            .time {
                font-size: 1.3rem;
                color: #2f210b;
            }
            .cover {
                background-size: contain;
            }
            img {
                max-height: 30rem;
                margin: 1.2rem;
                margin-top:  0;
                width: 100%;
            }
        }
    }
    a {
        margin: 2rem 1rem;
        background: #f7f7f7;
        color: #ababab;
    }
}