@import './common';

.ranking-container {
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    h6 {
        text-align: right;
    }
    .my-pane {
        padding: 30px;
    }
    .my-tabs {
        border: 1px solid #eee;
        .nav-link {
            &.active {
                background-color: #fff;
                border-bottom-color: transparent;
            }
            border-bottom: 1px solid #dee2e6;
            background-color: #f5f9fa;
            margin: 0;
            width: 100%;
        }
    }
    .table {
        tr th {
            background-color: #f8b62b;
            color: #fff;
            vertical-align: middle;
        }
    }
}
