body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
    color: black;
}

html {
    font-size: 14px;
}

@media(max-width: 960px) {
    html {
        font-size: 14px;
    }
}

@media(min-width: 540px) {
    html {
        font-size: 12px;
    }
}

@media(max-width: 540px) {
    html {
        font-size: 10px;
    }
}

.nav-link {
    color: black;
    margin: 0 30px 0 0;
}

.gelin-nav {
    .navbar-collapse {
        background-color: #f8b62b;
        margin: 0 -15px;
    }
    .navbar-nav .nav-link {
        color: #303030;
    }
    .logo {
        margin-right: 100px;
    }

}

.register-form {
    text-align: center;
    .block {
        border: 1px solid #eee;
        padding: 10px;
        margin-top: 10px;
        .form-title {
            text-align: center;
            margin: 10px 0;
        }
    }
    .form-footer {
        margin: 10px 0;
        text-align: center;
    }
    label {
        line-height: 2rem;
        text-align: right;
        &:after {
            content: ':';
            margin: 0 2px;
        }
    }
}
.pageNav-bg {
    height: 300px;
    width: 100%;
    background-image: url("../img/nav1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .title-text {
        padding-top: 100px;
        text-align: center;
    }
}

.main {
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    .topbar {
        text-align: center;
        .step {
            border: 1px solid #eee;
            height: 50px;
            line-height: 50px;
        }
        .step1 {
            background-color: #f5ab35;
        }
    }
}


.pageTopText h1 {
    font-size: 3vw;
    padding-top: 100px;
    padding-bottom: 2vw;
    margin: 0 auto;
}





