
@import './common';

.register-form {
    text-align: center;
    padding-bottom: 50px;
    .block {
        border: 1px solid #eee;
        padding: 10px 30px;
        margin-top: 10px;
        .form-title {
            text-align: center;
            margin: 10px 0;
            font-size: 1.5rem;
        }
    }
    .form-footer {
        margin: 10px 0;
        text-align: center;
    }
    .form-check {
        line-height: 2rem;
        margin-top: 2rem;
        .read::after {
            content: '';
        }
        .form-check-input {
            margin-top: 0.9rem;
        }
    }
    label {
        line-height: 2rem;
        text-align: left;
        padding: 5px;
        &:after {
            content: ':';
            margin: 0 2px;
        }
    }
}

.main {
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    .topbar {
        text-align: center;
        .step {
            border: 1px solid #eee;
            border-left: none;
            height: 50px;
            line-height: 50px;
            &:first-child::after {
                content: '';
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                right: -48px;
                top: 0;
                border: 24px solid transparent;
                border-left-color: #f5ab35;
            }
        }
        .step1 {
            background-color: #f5ab35;
        }
    }
}


.pageTopText h1 {
    font-size: 3vw;
    padding-top: 100px;
    padding-bottom: 2vw;
    margin: 0 auto;
}





