@import 'common';

.pageNav {
    min-width: 1200px;
}
.pagefooter {
    min-width: 1200px;
}
.content {
    margin: 5rem auto;
    width: 1200px;
    .row {
        .col-1 {
            width: 100%;
        }
    }
    .content1 {
        margin-top: 54px;
    }
    .content2 {
        margin-top: 94px;
    }
}
p {
    line-height: 24px;
}

.cicle-white {
    border: #cccccc;
    border-style: solid;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
}

.title-text {
    padding: 1rem;
}

.headContent {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.headline {
    margin: 0 1rem;
    h1 {
        line-height: 70px;
        color: #ec7016;
    }
    .head-right {
        display: flex;
        justify-content: flex-end;
        .headline {
            margin-left: 2rem;
            h1 {
                color: #ec7016;
            }
            p {
                color: #5a5a5a;
            }
        }
    }
}

.content2 .scoreline2 {
    padding-left: 0;
}
.scoreLine {
    position: relative;
    padding-left: 38px;
    img {
        width: 90%;
    }
    .line1 {
        position: absolute;
        top: 50px;
        left: 120px;
    }
    .line2 {
        position: absolute;
        top: 60px;
        left: 60px;
    }
}

.carouselImg {
    height: 10rem;
    background: #5c5c5c;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.GroupItem {
    padding: 0;
    .GroupText {
        line-height: 40px;
        white-space: nowrap;
        p {
            margin-bottom: 0;
        }
    }
    div {
        img {
            /*width: 100%;*/
            height: 6rem;
        }
    }
}

.GroupItemImg {
    height: 6rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.GroupText1 {
    background: #dfc081;
}

.GroupText2 {
    background: #e4b166;
}

.GroupText3 {
    background: #ce8d3e;
}

.GroupText4 {
    background: #a06a29;
}

.GroupText1,
.GroupText2,
.GroupText3,
.GroupText4 {
    padding: 1rem;
}

.GroutBottomP {
    color: #808080;
    margin: 3rem;
}

.modeCircle {
    background-color: #ec7016;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.carousel-item img {
    width: 100%;
}

.score1,
.score2 {
    margin-top: 4rem;
    .head-right {
        justify-content: flex-end;
    }
    .score1Content1 {
        margin-left: 38px;
    }
}

.reportTitle {
    background: #f8b62b;
    width: 80%;
}

.pagefooter {
    margin-top: 10rem;
}

.navMain {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    margin: 70px auto;
    text-align: center;
    font-size: 1.75em;
    color: #99b977;
    position: relative;
    text-align: center;
    .mainText {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 2px;
        border: solid;
        border-color: #3f3f3f;
        text-align: center;
        .text-center {
            color: #404040;
            h4 {
                padding-top: 8px;
            }
            p {
                font-size: 13px;
                width: 85%;
                margin: auto;
            }
        }
    }
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -75px;
        left: -75px;
        border: 150px solid transparent;
        font-size: 1px;
        li {
            position: absolute;
            top: -100px;
            left: -120px;
            transform-origin: 150px 120px;
            background: #69c2b9;
            p {
                margin: 0;
                font-weight: bold;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                color: #fff;
            }
        }
        li:nth-child(1) {
            transform: rotate(85deg);
            width: 20px;
        }
        li:nth-child(1) p {
            transform: rotate(636deg);
            background: #bd6141;
            width: 50px;
            height: 50px;
        }
        li:nth-child(2) {
            transform: rotate(130deg);
        }
        li:nth-child(2) p {
            transform: rotate(595deg);
            background: #69c2b9;
        }
        li:nth-child(3) {
            transform: rotate(180deg);
        }
        li:nth-child(3) p {
            transform: rotate(540deg);
            background: #00abb1;
            width: 60px;
            height: 60px;
        }
        li:nth-child(6) p {
            background: #69c2b9;
        }
        li:nth-child(7) {
            transform: rotate(320deg);
        }
        li:nth-child(7) p {
            transform: rotate(40deg);
            background: #e2b412;
            width: 60px;
            height: 60px;
        }
    }
}