html {
  font-size: 14px; }

@media (max-width: 960px) {
  html {
    font-size: 14px; } }

@media (min-width: 540px) {
  html {
    font-size: 14px; } }

@media (max-width: 540px) {
  html {
    font-size: 10px; } }

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
  color: black; }

.geling-nav {
  background: #323232; }

.nav-link {
  font-size: 1.3rem;
  color: black;
  margin: 0 2rem 0 0; }

.navbar-nav {
  background-color: #f8b62b;
  padding: 1rem 2rem 1rem 3rem; }

.navbar-brand {
  width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.navbar-collapse {
  background-color: #f8b62b;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.navbar-default .navbar-nav li a {
  color: #777; }

.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.pageNav-bg {
  height: 50rem;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover; }

.pageNavContent {
  height: 50rem; }

#pageNavbg {
  background-image: url("../img/nav1.png"); }

.title-text {
  margin-top: 150px;
  color: #fff; }
  .title-text div h1 {
    font-size: 2.8rem;
    font-weight: bold; }
  .title-text div p {
    font-size: 1.2rem;
    padding: 2rem 0 1rem 0; }

.circle {
  margin: 1rem auto; }

.circleYellow {
  height: 20rem;
  width: 20rem;
  background-color: #f8c454;
  font-size: 2rem;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.circleGray {
  height: 20rem;
  width: 20rem;
  background-color: #585858;
  border-radius: 10rem;
  font-size: 2rem;
  color: white;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 960px) {
  .circleGray,
  .circleYellow {
    height: 14rem;
    width: 14rem;
    font-size: 1.3rem;
    border-radius: 7rem; } }

@media (max-width: 540px) {
  .circleGray,
  .circleYellow {
    height: 8rem;
    width: 8rem;
    font-size: 1.3rem;
    border-radius: 4rem; } }

.pageTop {
  margin-top: 3rem; }

.pageTopText h1 {
  font-size: 2.8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto; }

.pageTopText p {
  font-size: 1.5rem;
  color: #8a8d90;
  text-align: justify; }

.pageSchedule {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%; }
  .pageSchedule h1 {
    font-size: 2.8rem;
    padding-bottom: 50px;
    margin: 0 auto; }
  .pageSchedule .container .row {
    margin-left: 0;
    margin-right: 0; }

.pageScheduleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pageScheduleText p {
    font-size: 1.4rem; }
  .pageScheduleText .pageScheduleP {
    color: #6a6a6a; }

@media (max-width: 960px) {
  .pageScheduleText p {
    font-size: 1rem; } }

.schedulePic {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.9rem; }
  .schedulePic img {
    width: auto;
    height: 100%; }

.triangle {
  line-height: 10rem; }

.pageScheduleCompetition {
  float: left;
  padding: 100px 10px 2px 10px;
  position: relative;
  overflow: hidden; }
  .pageScheduleCompetition a {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative; }

.pageScheduleImg {
  height: 100%;
  width: 100%; }

.picText {
  background: #333;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  color: white; }
  .picText p {
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media (max-width: 330px) {
  .picText p {
    font-size: 1.8rem; } }

.picTextSelect {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .picTextSelect p {
    font-size: 1.5rem;
    color: white; }

.picTextSelect:hover {
  background: #eeb60c;
  opacity: 0.7;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; }

.pageDownload {
  padding-top: 4rem;
  background-position: center center;
  background-size: cover; }
  .pageDownload h1 {
    padding-bottom: 4rem; }

#pageDownloadbg {
  background-image: url("../img/bg.png"); }

.pageDownloadItem {
  font-size: 1.4rem;
  border: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px; }

.pageDownloadItem2 {
  border: 2px;
  border-style: solid;
  border-color: #f8b62b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.pageDownloadItem2 div img {
  width: 100%; }

.pageDownloadPicText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pageDownloadPicText .container {
    margin-top: 25px; }
    .pageDownloadPicText .container .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .pageDownloadPicText .container .row div img {
        width: 100%;
        height: 100%; }

.pageDownloadBtn {
  width: 100%;
  margin: 0 0 1rem 0px;
  color: white; }

.pageDownloadBtn:hover {
  color: black; }

@media (min-width: 960px) {
  .pageDownloadPicText {
    width: 90%; }
  .pageDownloadBtn {
    width: 80%; }
  .pageDownloadPicText2 {
    width: 80%; } }

@media (max-width: 350px) {
  .pageDownloadBtn {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); } }

.pageDownloadPicText2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .pageDownloadPicText2 p {
    margin: 0 auto; }

@media (max-width: 540px) {
  .pageDownloadPic {
    display: none; } }

.pageInformation h1 {
  padding: 3rem 0 2rem 0; }

.pageInformation .container {
  margin-top: 0.8rem; }

.pageInformation a {
  margin-top: 2rem;
  background: #f7f7f7;
  color: #ababab; }

.pageInformationItem div img {
  width: 100%; }

.pageInformationItem div p {
  margin: 0.9rem 0 0.8rem 0;
  color: #8a8d90; }

.pagePartner {
  padding-bottom: 2rem; }
  .pagePartner h1 {
    padding: 3rem 0 0 0; }
  .pagePartner .container {
    padding-top: 20px; }

.pagePartnerPic {
  border: 2px;
  border-style: solid;
  border-color: #e5e5e5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagePartnerPic img {
    width: 100%; }

.pagefooter {
  background-color: #151a21;
  height: 4rem;
  height: 100%; }
  .pagefooter p {
    color: #8a8d90;
    text-align: center;
    line-height: 2rem;
    padding: 2rem 1rem;
    font-size: 1rem; }

/*# sourceMappingURL=home.css.map */
